@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 200;
  src:url("Dosis-ExtraLight.ttf");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 300;
  src:url("Dosis-Light.ttf");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 400;
  src:url("Dosis-Book.ttf");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 500;
  src:url("Dosis-Medium.ttf");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 600;
  src:url("Dosis-SemiBold.ttf");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 700;
  src:url("Dosis-Bold.ttf");
}

@font-face {
  font-family: Dosis;
  font-style: normal;
  font-weight: 800;
  src:url("Dosis-ExtraBold.ttf");
}

@font-face {
  font-family: "Cabin Sketch";
  font-style: normal;
  font-weight: bold;
  src:url("CabinSketch-Bold.ttf");
}

body {
  margin: 5%;
  text-align: justify;
  font-size: medium;
  font-family: Dosis, serif;
}

code {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

ol.toc {
  padding: 0;
  margin-left: 1em;
}

ol.toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.footnote-ref {
  vertical-align: super;
}

p {
  padding: 0;
  margin: 0;
  text-indent: 1em;
}

blockquote {
  margin-left: 3em;
  margin-right: 3em;
}

blockquote > p {
  text-indent: 0;
  margin-bottom: 1em;
}
